<template name="Home">
  <div class="template-home">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">
          <i class="material-icons email left">email</i> GunBlaster
        </a>
        <ul class="right nav-items">
          <!-- Dropdown Trigger -->
          <li>
            <i class="material-icons left">perm_identity</i>
            {{username}}
            <a class="logout right"><i class="material-icons">power_settings_new</i></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="gun-content row">
      <div class="col s4">
        list
      </div>

      <div class="col s8">
        email body
      </div>
    </div>
  </div>
</template>
