@import "{}/client/import.scss";

.blaster-status {
  width: 50px;

  i {
    color: white;
    font-weight:bold;
  }

  &.status--completed {
    background-color: color("teal", "lighten-2");
  }

  &.status--created,
  &.status--queued {
    background-color: color("blue-grey", "lighten-4");
  }

  &.status--in-progress {
    background-color: color("orange", "lighten-1");
  }

  &.status--with-errors {
    background-color: color("deep-orange", "accent-2");
  }

}
