<template name="BlasterNew">
  <div class="template-newBlaster">
    {{#autoForm id="MailBlastForm" class="mailBlastForm"
                autocomplete="off" type="normal"
                schema="App.Schemas.MailBlastForm"
                resetOnSuccess=false
                validation='submit'}}
    <div class="gun-content">
      <div class="content-wrapper">
          <header class="content-header content-area">
            <h1>Create a new Mail Blast</h1>
          </header>

          {{> BackButton}}
          <div class="content-body">
            <aside class="address-list-wrapper">
              {{> DmTextarea name="emails" label="Emails List" labelIcon="email" class="vstretched"}}
            </aside>

            <div class="mail-wrapper">
                <label>From</label>
                <span class="mailfrom">{{senderEmail}}</span>
                {{> DmInput name="subject" label="Subject"}}
                <!-- { { > DmTextarea name="content" label="Mail Content" class="vstretched" }} -->
                <label for="mail-data">Mail Content</label>
                <div id="mail-data" data-id="email-content" class="template-DmTextarea"></div>
            </div>
          </div>

          <div class="mail-actions content-area vtight">
            <button class="mailSendButton btn waves-effect waves-light right" type="submit" name="action">Send
              <i class="material-icons right">send</i>
            </button>
          </div>
      </div>
    </div>
    {{/autoForm}}
  </div>
</template>
