@import "{}/client/import.scss";

/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.superfocus {
  border-radius: 2px;
  background-color: white;
  padding: $ug-padding-lg;
}

.centered {
  margin: auto;
}

header { margin-bottom: 0.5em; }


.help-block {
  color: red;
}

.vstretched {
  flex: 1;
}

.vtight {
  padding-top: 0;
  margin-top: 0;
}

.content-area {
  //padding: 0.5em 1em;
  padding: $ug-padding $ug-padding 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

button, .btn {
  &:focus {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.4);
  }
}

.input-field > label {
  left: 0;
}

.tooltip {
  transition: opacity 0.3s ease-in-out;
  transition-delay: 0.5s;
}
.tooltip.show {
  display: block;
  opacity: 1;
}
.tooltip.hide {
  display: block !important;
  opacity: 0;
}
.tooltip.show {
  background: rgba(0,0,0, 0.5);
  color: white;
  padding: 0.1em 1em;
  border-radius: 5px;
}
.tooltip.show:after, .tooltip.show:before {
  bottom: 100%;
  left: 48%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;

}
.tooltip.show:before {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(0,0,0, 0.5);
  border-width: 9px;
  margin-left: -9px;
}

.go-back {
  position: absolute;
  left: -115px;
  top: 1.5em;
}

.input-field label {
  left: 0 !important;
}

.md-row {
  display: flex;
  flex-direction: row;
}

.md-col {
  display: flex;
  flex-direction: column;
}