@import "/client/import.less";

/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

body, * {
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Ubuntu, sans-serif;
  font-weight:bold;
}

.main {
}


.superfocus {
  border-radius: @modal-border-radius;
  background-color: white;
  padding: @ug-padding-lg;
}

.centered {
  margin: auto;

}

.help-block {
  color: red;
}