@import "/client/import.less";

/*****************************************************************************/
/* main: Style */
/*****************************************************************************/

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body, * {
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Ubuntu, sans-serif;
  font-weight:bold;
}

.main {
}


.superfocus {
  border-radius: @modal-border-radius;
  background-color: white;
  padding: @ug-padding-lg;
}

.centered {
  margin: auto;

}

.help-block {
  color: red;
}

.vstretched {
  flex: 1;
}

button, .btn {
  background-color: #ee6e73;
  &:focus {
    background-color: #ee6e73;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0, 0.4);
  }
  &:hover {
    background-color: #d32f2f;
  }
}
