@import "{}/client/import.scss";

body, * {
  font-family: "Roboto Condensed", Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  line-height:110%;
  margin: 0.5em 0 1em !important;
}

h1 {
  font-size: 24px !important;
  line-height:32px !important;
}

.important {
  font-weight:700;
}

.capital {
  text-transform: uppercase;
}
