<template name="login">
  <div class="template-login">
    <img style="background-image: url('{{backgroundUrl1}}')"
         class="backdrop-img {{background1Class}}">
    <img src=""
         style="background-image:url('{{backgroundUrl2}}')"
         class="backdrop-img {{background2Class}}">
    <div class="glass"></div>
    <div class="superfocus">
    {{#autoForm id="LoginForm" class="loginForm" autocomplete="nope" type="normal" schema="App.Schemas.LoginForm"}}
      <header>
        <img class="logo" src="http://davidemolin.com/images/Codingshack.png">
        <h1 class="title">GunBlaster Login</h1>
      </header>
      <input style="display:none" type="text" name="fakeusernameremembered"/>
      <input style="display:none" type="password" name="fakepasswordremembered"/>
      <div class="fieldset">
      {{> DmInput name="username" autocomplete="false" autocapitalize="false" label="Username" autofocus="true"}}
      {{> DmInput name="password" type="password" autocomplete="false" autocapitalize="false" label="Password" class=""}}
      </div>

      <div class="">
        <button class="loginButton btn waves-effect waves-light" type="submit" name="action">Login
          <i class="material-icons right">send</i>
        </button>
      </div>
    {{/autoForm}}
    </div>
  </div>
</template>