<template name="LoggedIn">
  <div class="layout-loggedIn">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left">
          <i class="material-icons email left">email</i>GunBlaster {{#if currentRoute}}<span class="current-route">&gt; {{currentRoute}}</span>{{/if}}
        </a>
        <ul class="right nav-items">
          <!-- Dropdown Trigger -->
          <li class="valign-wrapper">
            <img class="avatar-image" src="{{userImageUrl}}">
            {{username}}
          </li>
        </ul>
      </div>
    </nav>
    <nav class="subnav">
      <ul class="left nav-items valign-wrapper">
        <li class="valign">
          <a href="{{pathFor 'blaster/history'}}"><i class="left material-icons">assessment</i>History</a>
        </li>
        <li class="valign">
          <a href="{{pathFor 'blaster/new'}}"><i class="left material-icons">message</i>New GunBlaster</a>
        </li>
      </ul>
      <ul class="right nav-items valign-wrapper">
        <li class="">
          <a class="logout right"><i class="left material-icons">power_settings_new</i>Logout</a>
        </li>
      </ul>
    </nav>

    {{> yield}}

    {{ > tooltips }}
  </div>
</template>