<template name="DmTextarea">
  {{#if label}}
    <label for="{{id}}">{{#if labelIcon}}<i class="textarea-icon material-icons">{{labelIcon}}</i>{{/if}}{{label}}</label>
  {{/if}}
  <div class={{fullClass}}>
  {{> afFieldInput
    id=id
    name=name
    pattern=pattern
    placeholder=placeholder
    __type='textarea'
    type=type
    value=value
    defaultValue=defaultValue
    label=label
    trueLabel=trueLabel
    falseLabel=falseLabel
    template=template
    autocomplete=autocomplete
    autocapitalize=autocapitalize
  }}
  </div>
  <div>
    {{#if afFieldIsInvalid name=name}}
      <span class="help-block">{{{afFieldMessage name=name}}}</span>
    {{/if}}
  </div>
</template>
