@import "{}/client/import.scss";

textarea.template-DmTextarea {
  padding: 0.5em;
  margin-top: 0.5em;
}

label.template-DmTextarea {
  left: 0;
}

i.textarea-icon {
  float: left;
  margin-right: 0.2em;
  margin-top: -0.2em;
}